<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Club Edit</title>
</head>
<body>
	  <main class="flex-shrink-0">
            <!-- Page Content-->
            <section layout:fragment="body" class="py-5">
	            <div class="container w-50 mt-5">
	            		<form role="form" method="post" th:action="@{/clubs/{clubId}/edit(clubId=${club.id})}" th:object="${club}">
					  <!-- 2 column grid layout with text inputs for the first and last names -->
					  <input type="hidden" th:field="*{id}">
					  <div class="row mb-4">
					    <div class="col">
					      <div class="form-outline">
					      	<label class="form-label" for="title">Title</label>
					      	<p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
					        <input type="text" id="title" class="form-control" name="title" th:field="*{title}"/>
					        
					      </div>
					    </div>
					    <div class="col">
					      <div class="form-outline">
					      	<p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
					       	<label class="form-label" for="photoUrl">Photo Url</label>
					        <input type="text" id="photoUrl" class="form-control" name="photoUrl" th:field="*{photoUrl}"/>
					       
					      </div>
					    </div>
					  </div>
								  <!-- Text input -->
					  <div class="form-outline mb-4">
					  	<label class="form-label" for="content">Content</label>
					  	<p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
					    <input type="text" id="content" class="form-control" name="content" th:field="*{content}"/>
					    
					  </div>
					
					  <!-- Submit button -->
					  <button type="submit" class="btn btn-primary btn-block mb-4">Edit</button>
				</form>
	            </div>
               	
            </section>
        </main>
</body>
</html>